@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600|Suez+One&subset=latin-ext');




/**
 * Regular 400
 * Semi-bold 500
 */
.font-primary {
    font-family: 'Source Serif Pro', serif;
}




/**
 * Regular  400
 */
.font-suez-one {
    font-family: 'Suez One', serif;
}