.text-xxsmall { font-size: @font-size--xxsmall!important; }
.text-xsmall  { font-size: @font-size--xsmall!important; }
.text-small   { font-size: @font-size--small!important; }
.text-medium  { font-size: @font-size--medium!important; }
.text-large   { font-size: @font-size--large!important; }

.text-uppercase { text-transform: uppercase!important; }

.text-center { text-align: center!important; }

.text-secondary { color: @color--secondary; }
.text-info      { color: @color--info; }
.text-danger    { color: @color--danger; }
.text-success   { color: @color--success; }

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.align-center {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.over-hidden {
    overflow: hidden;
}



/**
 * Flex helpers
 */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex: 1 0 auto;
}

.flex-align {
    display: flex;
    align-items: center;
}
