/* -----------------------------------------------------------------------------
  ROOT ELEMENTS

----------------------------------------------------------------------------- */

html,
body {
    height: 100%;
}

body {
    color: @color--primary;
    background-color: @color--background;
    font-family: @font-family--primary;
    font-weight: 400;
    font-size: @font-size--medium;
    line-height: @line-height;
    width: 100%;
    overflow-x: hidden;
    
    @media (min-width: @tablet-width-min) {
        font-size: @font-size--large;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: @font-size--xxlarge;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:active {
        color: #fff;
        outline: 0;
        text-decoration: underline;
    }
}

.link {
    color: @color--secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
