/**
 * Layout
 */
@container-width: 1180px;
@laptop-width-min: 1280px;
@laptop-width-max: (@laptop-width-min - 1);
@tablet-horizontal-width-min: 1024px;
@tablet-horizontal-width-max: (@tablet-horizontal-width-min - 1);
@tablet-width-min: 768px;
@tablet-width-max: (@tablet-width-min - 1);
@mobile-width-min: 640px;
@mobile-width-max: (@mobile-width-min - 1);
@mobile-width-small-min: 414px; // iPhone 6+
@mobile-width-small-max: (@mobile-width-small-min - 1);



/**
 * Container
 */
@desktop-container-padding: 20px;
@tablet-container-padding: 15px;
@mobile-container-padding: 10px;



/**
 * Mobile menu
 */
@mobile-menu-width-min: @tablet-horizontal-width-max;



/**
 * Menubar
 */
@menu-size: 50px;
@menu-top-padding: 8px;
@menu-top-secondary-color: #e1dfde;



/**
 * Banner
 */
@banner-size: 200px;



/**
 * Fonts
 */
@font-family--primary: 'Source Serif Pro', serif;
@font-size--xxsmall:   11px;
@font-size--xsmall:    12px;
@font-size--small:     14px;
@font-size:            16px;
@font-size--medium:    18px;
@font-size--large:     21px;
@font-size--xlarge:    28px;
@font-size--xxlarge:   40px;
@font-size--xxxlarge:  50px;
@line-height:          1.5;



/**
 * Colors
 */
@color--background: #f1f1f1;
@color--menu-background: #fff;
@color--menu-background-mobile: #181b26;
@color--menu-text: #7e94ad;
@color--primary: #606060;
@color--secondary: #009deb;
@color--red: #e61013;
@color--facebook: #2e4da7;
@color--twitter: #07a3f4;
@color--google-plus: #ce4136;
@color--info: #4fbbf1;
@color--danger: #de2325;
@color--success: #85bc08;



/**
 * Z indexes
 */
@z-top-menu: 1000;
@z-side-menu: @z-top-menu + 5;
@z-popup-mask: @z-side-menu + 10;
@z-chart-menu: 10;
@z-max: 16000;



/**
 * Charts
 */
@chart-bar-height: 40px;
@chart-bar-popup-height: 50px;
@chart-padding-v: 10px;
@chart-padding-h: 15px;
@chart-padding: @chart-padding-v @chart-padding-h;

@chart-margin: 5px;
@chart-color: #6b6b6b;
@chart-good: #96C401;
@chart-neutral: #F6C000;
@chart-bad: #DC0002;
@chart-target: #00aeef;
@chart-gray: #989898;
@chart-gray-dark: #767676;

@chart-pie-1: #fdd022;
@chart-pie-2: #fcaf1e;
@chart-pie-3: #f68525;
@chart-pie-4: #e94a50;
@chart-pie-5: #c93b92;
@chart-pie-6: #7457a5;
