/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400&subset=latin-ext');
* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 500;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 500;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.font-primary {
  font-family: 'Rubik', sans-serif;
}
.align-self-stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
}
.align-self-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.align-self-bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex-padding {
  margin-left: -30px;
}
@media (max-width: 768px) {
  .flex-padding {
    margin-left: -20px;
  }
}
.flex-padding > * {
  padding-left: 30px;
}
@media (max-width: 768px) {
  .flex-padding > * {
    padding-left: 20px;
  }
}
.flex-padding-mini {
  margin-left: -10px;
}
.flex-padding-mini > * {
  padding-left: 10px;
}
.flex-full {
  width: 100%;
}
.flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex-align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.flex-nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.flex-1-2 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-1-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    max-width: 50%;
  }
}
.flex-1-3 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 480px) {
  .flex-1-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-1-3 {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
}
.flex-2-3 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 480px) {
  .flex-2-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-2-3 {
    -webkit-flex-basis: 66.6666%;
        -ms-flex-preferred-size: 66.6666%;
            flex-basis: 66.6666%;
  }
}
.flex-1-4 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 480px) {
  .flex-1-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 50%;
        -ms-flex: 1 50%;
            flex: 1 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-1-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
            flex: 1 25%;
    max-width: 25%;
  }
}
.flex-1-5 {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
  width: 20%;
}
@media (max-width: 768px) {
  .flex-1-5 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    width: 33.33333%;
  }
}
@media (max-width: 640px) {
  .flex-1-5 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
}
.flex-3-4 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-3-4 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
}
.flex-1-6 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-1-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1240px) {
  .flex-1-6 {
    -webkit-flex-basis: 16.66666666%;
        -ms-flex-preferred-size: 16.66666666%;
            flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }
}
.flex-1-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-1-12 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
}
@media (min-width: 1240px) {
  .flex-1-12 {
    -webkit-flex-basis: 8.33333333%;
        -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
}
.flex-5-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-5-12 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1240px) {
  .flex-5-12 {
    -webkit-flex-basis: 41.6666666%;
        -ms-flex-preferred-size: 41.6666666%;
            flex-basis: 41.6666666%;
    max-width: 41.6666666%;
  }
}
.flex-7-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-7-12 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 1240px) {
  .flex-7-12 {
    -webkit-flex-basis: 58.3333333%;
        -ms-flex-preferred-size: 58.3333333%;
            flex-basis: 58.3333333%;
    max-width: 58.3333333%;
  }
}
.text-white {
  color: #ffffff;
}
.text-burgundy {
  color: #8c4447;
}
.text-gray {
  color: #302b32;
}
.text-darkblue {
  color: #312b37;
}
.text-center {
  text-align: center;
}
body {
  background: white;
  color: #494c6d;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Rubik', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  line-height: 140%;
  font-size: 1.6em;
}
h2 {
  line-height: 150%;
}
h2 a {
  text-decoration: none;
}
.more-link {
  position: relative;
}
.more-link:after {
  position: absolute;
  top: -2px;
  right: -5px;
  content: '\f105';
  font-family: FontAwesome;
  color: inherit;
  opacity: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.more-link:hover:after {
  opacity: 1;
  right: -15px;
}
.more-link-burgundy .more-link {
  color: #8c4447;
}
.more-link-white .more-link {
  color: #ffffff;
}
.pagination .page-numbers {
  color: #8c4447;
}
.screen-reader-text {
  display: none;
}
.alignleft {
  float: left;
  margin: 15px 15px 15px 0;
}
.alignright {
  float: right;
  margin: 15px 0 15px 15px;
}
.wrapper {
  position: relative;
}
.wrapper-burgundy {
  background: -webkit-linear-gradient(left, #904444, #86475c);
  background: linear-gradient(to right, #904444, #86475c);
}
.wrapper-purple {
  background: -webkit-linear-gradient(left, #302930, #272634);
  background: linear-gradient(to right, #302930, #272634);
}
.wrapper-gray {
  background: -webkit-linear-gradient(left, #c8b8b9, #8d8f9e);
  background: linear-gradient(to right, #c8b8b9, #8d8f9e);
}
.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.container-content {
  width: 100%;
  padding: 60px 20px 60px 100px;
}
@media (max-width: 960px) {
  .container-content {
    padding: 60px 20px 60px 20px;
  }
}
@media (max-width: 768px) {
  .container-content {
    padding: 20px 20px 20px 20px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
}
body.page-template-page-homepage header {
  height: 700px;
}
@media (max-width: 640px) {
  body.page-template-page-homepage header {
    height: 480px;
  }
}
body > header {
  height: 350px;
}
header {
  background-color: #ffffff;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
header a {
  text-decoration: none;
}
.site-title {
  display: inline-block;
  color: #8c4447;
  border-bottom: 2px solid #a5aac8;
  font-size: 20px;
  margin-right: 20px;
  padding: 16px 0 6px;
}
@media (max-width: 640px) {
  .site-title {
    margin: 0 auto;
  }
}
.custom-logo-link {
  display: inline-block;
}
.custom-logo-link img {
  width: 130px;
  height: auto;
}
.lang-menu,
.primary-menu,
.footer-menu {
  margin: 0;
  padding: 0;
}
.lang-menu li,
.primary-menu li,
.footer-menu li {
  list-style: none;
}
.lang-menu a,
.primary-menu a,
.footer-menu a {
  text-decoration: none;
}
.lang-menu,
.primary-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.lang-menu li,
.primary-menu li {
  display: inline-block;
}
.lang-menu li.current-menu-item a:after,
.primary-menu li.current-menu-item a:after,
.lang-menu li.current-page-ancestor a:after,
.primary-menu li.current-page-ancestor a:after,
.lang-menu li.current-menu-item a:before,
.primary-menu li.current-menu-item a:before,
.lang-menu li.current-page-ancestor a:before,
.primary-menu li.current-page-ancestor a:before {
  width: 50%;
}
.lang-menu li a,
.primary-menu li a {
  display: inline-block;
  color: #474c6c;
  padding: 20px 10px 10px;
  position: relative;
}
.lang-menu li a:after,
.primary-menu li a:after,
.lang-menu li a:before,
.primary-menu li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #a5aac8;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.lang-menu li a:after,
.primary-menu li a:after {
  right: 50%;
}
.lang-menu li a:before,
.primary-menu li a:before {
  left: 50%;
}
@media (max-width: 768px) {
  .lang-menu li a,
  .primary-menu li a {
    padding: 8px 10px;
    position: relative;
  }
  .lang-menu li a:after,
  .primary-menu li a:after,
  .lang-menu li a:before,
  .primary-menu li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #8c4447;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .lang-menu li a:after,
  .primary-menu li a:after {
    right: 50%;
  }
  .lang-menu li a:before,
  .primary-menu li a:before {
    left: 50%;
  }
}
.lang-menu li a:hover:after,
.primary-menu li a:hover:after,
.lang-menu li a:hover:before,
.primary-menu li a:hover:before {
  width: 50%;
}
@media (max-width: 768px) {
  .lang-menu li a {
    color: #ffffff;
  }
}
.primary-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .primary-menu-container {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    background: #8c4447;
  }
  .primary-menu-container .primary-menu {
    margin-top: 10px;
    display: block;
  }
  .primary-menu-container .primary-menu li {
    display: block;
  }
  .primary-menu-container .primary-menu li a {
    display: block;
    text-align: center;
    color: #ffffff;
  }
}
.primary-menu-container .primary-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}
.primary-menu-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .primary-menu-toggle {
    display: block;
  }
}
.footer-menu {
  text-align: center;
}
.footer-menu li a {
  display: block;
  color: #8c4447;
  padding: 4px;
  font-size: 15px;
  position: relative;
}
.footer-menu li a:after,
.footer-menu li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #8c4447;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.footer-menu li a:after {
  right: 50%;
}
.footer-menu li a:before {
  left: 50%;
}
.footer-menu li a:hover:after,
.footer-menu li a:hover:before {
  width: 50%;
}
.container-line-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-flex: 160px;
  -webkit-flex: 160px 0 0;
      -ms-flex: 160px 0 0;
          flex: 160px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
@media (max-width: 640px) {
  .container-line-wrapper {
    width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100% 0 0;
        -ms-flex: 100% 0 0;
            flex: 100% 0 0;
  }
}
.container-line-wrapper-absolute {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
@media (max-width: 640px) {
  .container-line-wrapper-absolute {
    position: relative;
  }
}
.container-line-box {
  margin: 10px;
  padding: 7px 15px;
  border: 2px solid transparent;
}
.container-line-box-white {
  border-color: #ffffff;
  color: #000000;
}
.container-line-box-burgundy {
  border-color: #8c4447;
  color: #ffffff;
}
.container-line-white .container-line {
  min-height: 60px;
  background: #ffffff;
}
.container-line-white .container-line:after {
  background: transparent;
}
.container-line-white .container-line-bullet:after {
  border: 2px solid #ffffff;
}
.container-line-burgundy .container-line {
  background: #8c4447;
}
.container-line-burgundy .container-line:after {
  background: #8c4447;
}
.container-line-burgundy .container-line-bullet:after {
  background: transparent;
  border: 2px solid #8c4447;
}
.container-line-content {
  padding: 11px 0;
}
.container-line {
  display: inline-block;
  position: relative;
  width: 2px;
  height: 100%;
  background: #a5aac8;
  min-height: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
}
.container-line:after {
  position: absolute;
  left: 50%;
  width: 8px;
  height: 2px;
  margin-left: -4px;
  content: '';
  background: #a5aac8;
}
.container-line-bullet:after {
  width: 2px;
  height: 2px;
  margin-left: -3px;
  border-radius: 50%;
  background: transparent;
}
.container-line-small {
  min-height: 80px;
  max-height: 80px;
}
.container-line-top:after {
  bottom: 0;
}
.container-line-top.container-line-bullet:after {
  bottom: -4px;
}
.container-line-bottom:after {
  top: 0;
}
.container-line-bottom.container-line-bullet:after {
  top: -4px;
}
.bgr-image {
  position: relative;
  display: block;
  height: 350px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  overflow: hidden;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
  opacity: 1;
  padding-top: 50px;
}
.bgr-image:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
  background: #302930;
  content: '';
  -webkit-transition: all .35s;
  transition: all .35s;
}
.bgr-image:hover {
  padding-top: 30px;
  opacity: .9;
}
.bgr-image:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.bgr-image-head {
  background-image: url("images/bgr-a.png");
}
.bgr-image-city {
  background-image: url("images/bgr-b.png");
}
.bgr-image-figure {
  background-image: url("images/bgr-c.png");
}
* {
  margin: 0;
  padding: 0;
}
/* Icon 1 */
#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
  width: 30px;
  height: 22px;
  position: relative;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #8c4447;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
/* Icon 4 */
#nav-icon4 {
  margin: 17px 20px;
}
#nav-icon4.open {
  margin-right: 20px;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 18px;
  left: 8px;
}
.wrapper-swiper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.swiper {
  position: relative;
  width: 100%;
}
.swiper-container {
  margin: 40px auto!important;
}
.swiper-container .container-content {
  padding: 0;
}
.swiper-pagination {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.swiper-pagination-bullet {
  margin: 0 4px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.swiper-pagination-bullet-active {
  background: #8c4447 !important;
}
.swiper-button-prev,
.swiper-button-next {
  background: none;
  margin-top: -40px;
  width: 35px;
  height: 80px;
}
.swiper-button-prev {
  left: -75px;
}
@media (max-width: 1023px) {
  .swiper-button-prev {
    left: 10px;
  }
}
.swiper-button-next {
  right: -75px;
}
@media (max-width: 1023px) {
  .swiper-button-next {
    right: 10px;
  }
}
body > .wrapper {
  opacity: 0;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}
body.loaded > .wrapper {
  opacity: 1;
}
body.loaded #intro {
  margin-left: 0;
  opacity: 1;
}
body.loaded .custom-logo-link img {
  opacity: 1;
}
#intro {
  margin-left: -30px;
  opacity: 0;
  -webkit-transition: all .7s ease .7s;
  transition: all .7s ease .7s;
}
.custom-logo-link img {
  -webkit-transition: all .7s ease .3s;
  transition: all .7s ease .3s;
  opacity: 0;
}
.nf-form-cont .nf-error-wrap,
.nf-form-cont .nf-before-form-content,
.nf-form-cont .nf-form-hp {
  display: none;
}
.nf-form-cont nf-fields-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.nf-form-cont nf-fields-wrap nf-field:first-child {
  -webkit-box-flex: 100%;
  -webkit-flex: 100% 0 0;
      -ms-flex: 100% 0 0;
          flex: 100% 0 0;
}
.nf-form-cont nf-fields-wrap nf-field:nth-child(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  padding-right: 15px;
}
@media (max-width: 640px) {
  .nf-form-cont nf-fields-wrap nf-field {
    -webkit-box-flex: 100%!important;
    -webkit-flex: 100% 0 0!important;
        -ms-flex: 100% 0 0!important;
            flex: 100% 0 0!important;
    padding: 0!important;
  }
}
.nf-form-cont .nf-field-container,
.nf-form-cont #ninja_forms_required_items {
  margin-bottom: 15px;
}
.nf-form-cont .nf-error .ninja-forms-field {
  border: 2px solid #8c4447 !important;
  color: #8c4447;
}
.nf-form-cont .nf-error .ninja-forms-field::-webkit-input-placeholder {
  color: #8c4447;
}
.nf-form-cont .nf-error .ninja-forms-field::-moz-placeholder {
  color: #8c4447;
}
.nf-form-cont .nf-error .ninja-forms-field:-ms-input-placeholder {
  color: #8c4447;
}
.nf-form-cont .nf-error .ninja-forms-field::placeholder {
  color: #8c4447;
}
.nf-form-cont .nf-error-msg,
.nf-form-cont .ninja-forms-req-symbol,
.nf-form-cont .nf-after-form-content {
  color: #8c4447 !important;
}
::-webkit-input-placeholder {
  color: #ffffff;
}
::-moz-placeholder {
  color: #ffffff;
}
:-ms-input-placeholder {
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}
input {
  padding: 7px 13px;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
input[type="submit"],
input[type="button"] {
  padding: 7px 40px;
  width: 100%!important;
}
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #ffffff;
  color: #9898a4;
  cursor: pointer;
}
input:not([type="submit"]):focus,
input:not([type="submit"]):active {
  outline: none;
  background: #ffffff;
  color: #8c4447;
}
