

.bgr-image {
    position: relative;
    display: block;
    height: 350px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
    overflow: hidden;

    font-size: 20px;
    text-align: center;
    text-decoration: none;

    transition: all .2s;
    opacity: 1;
    padding-top: 50px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        transform: translate3d(0,-10px,0);
        background: #302930;
        content: '';
        transition: all .35s;
    }

    &:hover {
        &:before {
            transform: translate3d(0,0,0);
        }

        padding-top: 30px;
        opacity: .9;
    }
}

.bgr-image-head {
    background-image: url("images/bgr-a.png");
}

.bgr-image-city {
    background-image: url("images/bgr-b.png");
}

.bgr-image-figure {
    background-image: url("images/bgr-c.png");
}