
.align-self-stretch {
    align-self: stretch;
}

.align-self-top {
    align-self: flex-start;
}

.align-self-bottom {
    align-self: flex-end;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &-reverse {
        flex-direction: row-reverse;
    }

    &-padding {
        margin-left: -30px;

        @media (max-width: 768px) {
            margin-left: -20px;
        }

        & > * {
            padding-left: 30px;

            @media (max-width: 768px) {
                padding-left: 20px;
            }
        }
    }

    &-padding-mini {
        margin-left: -10px;

        & > * {
            padding-left: 10px;
        }
    }

    &-full {
        width: 100%;
    }

    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-align {
        align-items: center;
    }

    &-stretch {
        align-items: stretch;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-column {
        flex-direction: column;
    }

    &-grow {
        flex: 1;
    }

    &-nowrap {
        flex-wrap: nowrap;
    }
}

.flex-1-2 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex: 1 50%;
        max-width: 50%;
    }
}

.flex-1-3 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 480px) {
        flex: 1 50%;
        max-width: 50%;
    }

    @media (min-width: 768px) {
        flex-basis: 33.3333%;
        max-width: 33.3333%;
    }
}

.flex-2-3 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 480px) {
        flex: 1 50%;
        max-width: 50%;
    }

    @media (min-width: 768px) {
        flex-basis: 66.6666%;
    }
}

.flex-1-4 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 480px) {
        flex: 1 50%;
        max-width: 50%;
    }

    @media (min-width: 768px) {
        flex: 1 25%;
        max-width: 25%;
    }
}

.flex-1-5 {
    flex-basis: 20%;
    width: 20%;

    @media (max-width: 768px) {
        flex-basis: 33.33333%;
        width: 33.33333%;
    }

    @media (max-width: 640px) {
        flex-basis: 100%;
        width: 100%;
    }
}

.flex-3-4 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 75%;
        max-width: 75%
    }
}

.flex-1-6 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 50%;
        max-width: 50%
    }

    @media (min-width: 1240px) {
        flex-basis: 16.66666666%;
        max-width: 16.66666666%
    }
}

.flex-1-12 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 25%;
        max-width: 25%
    }

    @media (min-width: 1240px) {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }
}

.flex-5-12 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 50%;
        max-width: 50%
    }

    @media (min-width: 1240px) {
        flex-basis: 41.6666666%;
        max-width: 41.6666666%
    }
}

.flex-7-12 {
    flex-basis: 100%;
    max-width: 100%;

    @media (min-width: 768px) {
        flex-basis: 50%;
        max-width: 50%
    }

    @media (min-width: 1240px) {
        flex-basis: 58.3333333%;
        max-width: 58.3333333%
    }
}