.nf-form-cont {
    .nf-error-wrap,
    .nf-before-form-content,
    .nf-form-hp {
        display: none;
    }

    nf-fields-wrap {
        display: flex;
        flex-wrap: wrap;

        nf-field {
            &:first-child {
                flex: 100% 0 0;
            }

            &:nth-child(2) {
                flex: 1 0 0;
                padding-right: 15px;
            }

            @media (max-width: @mobileWidth) {
                flex: 100% 0 0!important;
                padding: 0!important;
            }
        }
    }

    .nf-field-container,
    #ninja_forms_required_items {
        margin-bottom: 15px;
    }

    .nf-error .ninja-forms-field {
        border: 2px solid @burgundy!important;
        color: @burgundy;

        &::placeholder {
            color: @burgundy;
        }
    }

    .nf-error-msg,
    .ninja-forms-req-symbol,
    .nf-after-form-content {
        color: @burgundy!important;
    }
}

::placeholder {
    color: #ffffff;
}

input {
    padding: 7px 13px;
    border: 2px solid #fff;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    color: #ffffff;
    transition: all .3s ease;

    &[type="submit"],
    &[type="button"] {
        padding: 7px 40px;
        width: 100%!important;

        &:hover {
            background: #ffffff;
            color: #9898a4;
            cursor: pointer;
        }
    }

    &:not([type="submit"]) {

        &:focus,
        &:active {
            outline: none;
            background: #ffffff;
            color: @burgundy;
        }
    }
}