body {

    &.page-template-page-homepage {
        header {
            height: 700px;

            @media (max-width: @mobileWidth) {
                height: 480px;
            }
        }
    }

    & > header {
        height: 350px;
    }
}

header {
    background-color: #ffffff;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        text-decoration: none;
    }
}

.site-title {
    display: inline-block;
    color: @burgundy;
    border-bottom: 2px solid @blue;
    font-size: 20px;
    margin-right: 20px;
    padding: 16px 0 6px;

    @media (max-width: @mobileWidth) {
        margin: 0 auto;
    }
}

.custom-logo-link {
    display: inline-block;

    img {
        width: 130px;
        height: auto;
    }
}