.text-white {
    color: #ffffff;
}

.text-burgundy {
    color: @burgundy;
}

.text-gray {
    color: #302b32;
}

.text-darkblue {
    color: #312b37;
}

.text-center {
    text-align: center;
}

.underlineEffectElement(@color: @blue) {
    position: relative;

    &:after,
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 0;
        background: @color;
        transition: all .3s ease;
    }

    &:after {
        right: 50%;
    }

    &:before {
        left: 50%;
    }
}

.underlineEffectElementActive() {
    &:after,
    &:before {
        width: 50%;
    }
}
