
.wrapper {
    position: relative;
}

.wrapper-burgundy {
    background: linear-gradient(to right, #904444, #86475c);
}

.wrapper-purple {
    background: linear-gradient(to right, #302930, #272634);
}

.wrapper-gray {
    background: linear-gradient(to right, #c8b8b9, #8d8f9e);
}

.container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: @contaierWidth;
    margin: 0 auto;

    @media (max-width: @contaierWidth) {
        width: 100%;
    }

    @media (max-width: @mobileWidth) {
        flex-wrap: wrap;
    }
}

.container-content {
    width: 100%;
    padding: 60px 20px 60px 100px;

    @media (max-width: @contaierWidth) {
        padding: 60px 20px 60px 20px;
    }

    @media (max-width: @tabletWidth) {
        padding: 20px 20px 20px 20px;
        text-align: center;
        justify-content: center;
    }
}

.container-absolute {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1000;
}