.container-line-wrapper {
    display: flex;
    width: 160px;
    flex: 160px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: @mobileWidth) {
        width: 100%;
        flex: 100% 0 0;
    }
}

.container-line-wrapper-absolute {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    @media (max-width: @mobileWidth) {
        position: relative;
    }
}

.container-line-box {
    margin: 10px;
    padding: 7px 15px;
    border: 2px solid transparent;
}

.container-line-box-white {
    border-color: #ffffff;
    color: #000000;
}

.container-line-box-burgundy {
    border-color: @burgundy;
    color: #ffffff;
}

.container-line-white {

    .container-line {
        min-height: 60px;
        background: #ffffff;

        &:after {
            background: transparent;
        }

        &-bullet {
            &:after {
                border: 2px solid #ffffff;
            }
        }
    }
}

.container-line-burgundy {

    .container-line {
        background: @burgundy;

        &:after {
            background: @burgundy;
        }

        &-bullet {

            &:after {
                background: transparent;
                border: 2px solid @burgundy;
            }
        }
    }
}

.container-line-content {
    padding: 11px 0;
}

.container-line {
    display: inline-block;
    position: relative;
    width: 2px;
    height: 100%;
    background: @blue;
    min-height: 60px;
    flex: 1 0 0;

    &:after {
        position: absolute;
        left: 50%;
        width: 8px;
        height: 2px;
        margin-left: -4px;
        content: '';
        background: @blue;
    }

    &-bullet {
        &:after {
            width: 2px;
            height: 2px;
            margin-left: -3px;
            border-radius: 50%;
            background: transparent;
        }
    }
}

.container-line-small {
    min-height: 80px;
    max-height: 80px;
}

.container-line-top {

    &:after {
        bottom: 0;
    }
}

.container-line-top.container-line-bullet {

    &:after {
        bottom: -4px;
    }
}

.container-line-bottom {

    &:after {
        top: 0;
    }
}

.container-line-bottom.container-line-bullet {

    &:after {
        top: -4px;
    }
}
