body {
    & > .wrapper {
        opacity: 0;
        transition: all .7s ease;
    }

    &.loaded {
        & > .wrapper {
            opacity: 1;
        }

        #intro {
            margin-left: 0;
            opacity: 1;
        }

        .custom-logo-link img {
            opacity: 1;
        }
    }
}

#intro {
    margin-left: -30px;
    opacity: 0;
    transition: all .7s ease .7s;
}

.custom-logo-link img {
    transition: all .7s ease .3s;
    opacity: 0;
}