.lang-menu,
.primary-menu,
.footer-menu {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

@primaryMenuColor: #474c6c;

.lang-menu,
.primary-menu {
    display: flex;
    justify-content: space-around;

    li {
        display: inline-block;

        &.current-menu-item,
        &.current-page-ancestor {
            a {
                .underlineEffectElementActive();
            }
        }

        a {
            display: inline-block;
            color: @primaryMenuColor;
            padding: 20px 10px 10px;

            .underlineEffectElement();

            @media (max-width: @tabletWidth) {
                padding: 8px 10px;
                .underlineEffectElement(@burgundy);
            }

            &:hover {
                .underlineEffectElementActive();
            }
        }
    }
}

.lang-menu {
    li {
        a {
            @media (max-width: @tabletWidth) {
                color: #ffffff;
            }
        }
    }
}

.primary-menu-container {
    display: flex;
    width: 100%;

    @media (max-width: @tabletWidth) {
        position: absolute;
        top: 46px;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: none;
        background: @burgundy;

        .primary-menu {
            margin-top: 10px;
            display: block;

            li {
                display: block;

                a {
                    display: block;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .primary-menu {
        flex: 1 0 0;
    }
}

.primary-menu-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    @media (max-width: @tabletWidth) {
        display: block;
    }
}

.footer-menu {
    text-align: center;

    li {

        a {
            display: block;
            color: @burgundy;
            padding: 4px;
            font-size: 15px;

            .underlineEffectElement(@burgundy);

            &:hover {
                .underlineEffectElementActive();
            }
        }
    }
}