* {
    margin: 0;
    padding: 0;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    height: 22px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: @burgundy;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

/* Icon 4 */

#nav-icon4 {
    margin: 17px 20px;

    &.open {
        margin-right: 20px;
    }
}

#nav-icon4 span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 9px;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 18px;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
    left: 8px;
}