@purple: #494c6d;
@burgundy: #8c4447;
@primary: @burgundy;
@blue: #a5aac8;

@contaierWidth: 960px;
@tabletWidth: 768px;
@mobileWidth: 640px;

body {
    background: white;
    color: @purple;
    font-size: 16px;
    line-height: 150%;
    .font-primary;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    line-height: 140%;
    font-size: 1.6em;
}

h2 {
    line-height: 150%;

    a {
        text-decoration: none;
    }
}

.more-link {
    position: relative;

    &:after {
        position: absolute;
        top: -2px;
        right: -5px;
        content: '\f105';
        font-family: FontAwesome;
        color: inherit;
        opacity: 0;
        transition: all .35s;
    }

    &:hover {
        &:after {
            opacity: 1;
            right: -15px;
        }
    }
}

.more-link-burgundy {
    .more-link {
        color: @burgundy;
    }
}

.more-link-white {
    .more-link {
        color: #ffffff
    }
}

.pagination {
    .page-numbers {
        color: @burgundy;
    }
}

.screen-reader-text {
    display: none;
}

.alignleft {
    float: left;
    margin: 15px 15px 15px 0;
}

.alignright {
    float: right;
    margin: 15px 0 15px 15px;
}