@import '../variables';

.menu-primary {
    font-size: 0;

    li {
        display: inline-block;
        list-style: none;
    }

    a {
        display: inline-block;
        padding: 5px 10px;
        color: @color--default;
        font-size: @font-size;
        font-weight: 700;
    }

    a:hover,
    .current-menu-item a {
        color: @color--primary;
    }
}
