@import url('https://fonts.googleapis.com/css?family=Noto+Sans');



/**
 * Light    300
 * Regular  400
 * Bold     700
 */
.font-lato {
    font-family: 'Noto Sans', sans-serif;
}



/**
 * Light     300
 * Regular   400
 * Semi-bold 600
 * Bold      700
 */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
