@import './variables';
@import './mixins';

.text-ellipsis-2 {
    .ellipsis(2);
}

.text-xxsmall {
    font-size: @font-size--xxsmall !important;
}

.text-xsmall {
    font-size: @font-size--xsmall !important;
}

.text-small {
    font-size: @font-size--small !important;
}

.text-medium {
    font-size: @font-size--medium !important;
}

.text-large {
    font-size: @font-size--large !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-center {
    text-align: center !important;
}

.text-gray {
    color: #9ba0a2;
}

.text-secondary {
    color: @color--secondary;
}

.v-middle {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
