@import './variables';

/* -----------------------------------------------------------------------------
  ROOT ELEMENTS

----------------------------------------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: @color--default;
    background-color: #fff;
    font-family: @font-family--default;
    font-weight: 400;
    font-size: @font-size;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

h1 {
    font-size: @font-size--xxlarge;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.link {
    color: @color--secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
