@import '../fonts';

@memento-left: 32.8%;
@memento-right: (100% - @memento-left);

.memento {
    display: flex;
    width: 100%;
    height: 100%;
}

.memento__title {
    padding: 0;
    font-size: @font-size--xxlarge;
    .font-suez-one;
    line-height: 1.3;
}

.memento__meta {
    opacity: 0;
    transition: all .3s ease;

    .memento__left--visible & {
        opacity: 1;
    }
}

.memento--visible {
    height: auto;
}

.memento__left {
    position: relative;
    width: @memento-left;
    height: 100%;
    left: (@memento-right / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    opacity: 0;
    text-align: center;
}

.memento__left--visible {
    position: fixed;
    top: 0;
    right: @memento-right;
    bottom: 0;
    left: 0;
}

.memento__left-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #000;
    z-index: -1;
}

.memento__right {
    width: 0;
    overflow: hidden;
    opacity: 0;
    color: #000;
}

.memento__right--visible {
    position: relative;
    width: @memento-right;
    left: @memento-left;
    padding: 20px;
    overflow: auto;

    @media (min-width: @tablet-width-min) {
        padding: 40px;
    }

    @media (min-width: @tablet-horizontal-width-min) {
        padding: 100px 80px;
    }
}