/*
Theme Name: Vedome
Theme URI: //output.sk/themes/vedome/
Author: the output team
Author URI: https://output.sk/
Description: Min blog
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: memento
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/
/* Document
   ========================================================================== */
/**
 * Set box sizing
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
* {
  box-sizing: border-box;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
/**
 * Light    300
 * Regular  400
 * Bold     700
 */
.font-lato {
  font-family: 'Noto Sans', sans-serif;
}
/**
 * Light     300
 * Regular   400
 * Semi-bold 600
 * Bold      700
 */
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
/**
 * Layout
 */
/**
 * Container
 */
/**
 * Mobile menu
 */
/**
 * Menubar
 */
/**
 * Fonts
 */
/**
 * Colors
 */
/**
 * Buttons
 */
/**
 * Z indexes
 */
/**
 * Margins
 */
/**
 * Content
 */
.text-ellipsis-2 {
  display: block;
  display: -webkit-box;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.8em;
}
.text-xxsmall {
  font-size: 11px !important;
}
.text-xsmall {
  font-size: 12px !important;
}
.text-small {
  font-size: 14px !important;
}
.text-medium {
  font-size: 18px !important;
}
.text-large {
  font-size: 22px !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-center {
  text-align: center !important;
}
.text-gray {
  color: #9ba0a2;
}
.text-secondary {
  color: #0092a9;
}
.v-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
/* -----------------------------------------------------------------------------
  ROOT ELEMENTS

----------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  color: #222222;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}
h1 {
  font-size: 36px;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.link {
  color: #0092a9;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.f {
  padding: 1rem;
  background-color: rgba(59, 176, 73, 0.1);
  text-align: center;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex--grid {
  margin-bottom: -10px;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .flex--grid {
    margin-bottom: -20px;
    margin-left: -20px;
  }
}
.flex--grid > * {
  padding-bottom: 10px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .flex--grid > * {
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
.flex--grid-mini {
  margin-bottom: -10px;
  margin-left: -10px;
}
.flex--grid-mini > * {
  padding-bottom: 10px;
  padding-left: 10px;
}
.flex--full {
  width: 100%;
}
.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex--column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flex--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.flex--end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.flex--between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex--around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.flex--align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex--stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex--nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
[class^='flex-'] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.flex-1 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
.flex-1-2 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-1-2 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
.flex-1-3 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 640px) {
  .flex-1-3 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-1-3 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}
.flex-2-3 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 640px) {
  .flex-2-3 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-2-3 {
    -webkit-flex-basis: 66.66666667%;
        -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
}
.flex-1-4 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 640px) {
  .flex-1-4 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .flex-1-4 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
}
.flex-3-4 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .flex-3-4 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
}
.flex-1-5 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 639px) {
  .flex-1-5 {
    -webkit-flex-basis: 33.33333333%;
        -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .flex-1-5 {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    max-width: 20%;
  }
}
@media (min-width: 414px) {
  .xs-p-0 {
    padding: 0px !important;
  }
  .xs-pt-0 {
    padding-top: 0px !important;
  }
  .xs-pl-0 {
    padding-left: 0px !important;
  }
  .xs-pr-0 {
    padding-right: 0px !important;
  }
  .xs-pb-0 {
    padding-bottom: 0px !important;
  }
  .xs-m-0 {
    margin: 0px !important;
  }
  .xs-mt-0 {
    margin-top: 0px !important;
  }
  .xs-ml-0 {
    margin-left: 0px !important;
  }
  .xs-mr-0 {
    margin-right: 0px !important;
  }
  .xs-mb-0 {
    margin-bottom: 0px !important;
  }
  .xs-p-5 {
    padding: 5px !important;
  }
  .xs-pt-5 {
    padding-top: 5px !important;
  }
  .xs-pl-5 {
    padding-left: 5px !important;
  }
  .xs-pr-5 {
    padding-right: 5px !important;
  }
  .xs-pb-5 {
    padding-bottom: 5px !important;
  }
  .xs-m-5 {
    margin: 5px !important;
  }
  .xs-mt-5 {
    margin-top: 5px !important;
  }
  .xs-ml-5 {
    margin-left: 5px !important;
  }
  .xs-mr-5 {
    margin-right: 5px !important;
  }
  .xs-mb-5 {
    margin-bottom: 5px !important;
  }
  .xs-p-10 {
    padding: 10px !important;
  }
  .xs-pt-10 {
    padding-top: 10px !important;
  }
  .xs-pl-10 {
    padding-left: 10px !important;
  }
  .xs-pr-10 {
    padding-right: 10px !important;
  }
  .xs-pb-10 {
    padding-bottom: 10px !important;
  }
  .xs-m-10 {
    margin: 10px !important;
  }
  .xs-mt-10 {
    margin-top: 10px !important;
  }
  .xs-ml-10 {
    margin-left: 10px !important;
  }
  .xs-mr-10 {
    margin-right: 10px !important;
  }
  .xs-mb-10 {
    margin-bottom: 10px !important;
  }
  .xs-p-15 {
    padding: 15px !important;
  }
  .xs-pt-15 {
    padding-top: 15px !important;
  }
  .xs-pl-15 {
    padding-left: 15px !important;
  }
  .xs-pr-15 {
    padding-right: 15px !important;
  }
  .xs-pb-15 {
    padding-bottom: 15px !important;
  }
  .xs-m-15 {
    margin: 15px !important;
  }
  .xs-mt-15 {
    margin-top: 15px !important;
  }
  .xs-ml-15 {
    margin-left: 15px !important;
  }
  .xs-mr-15 {
    margin-right: 15px !important;
  }
  .xs-mb-15 {
    margin-bottom: 15px !important;
  }
  .xs-p-20 {
    padding: 20px !important;
  }
  .xs-pt-20 {
    padding-top: 20px !important;
  }
  .xs-pl-20 {
    padding-left: 20px !important;
  }
  .xs-pr-20 {
    padding-right: 20px !important;
  }
  .xs-pb-20 {
    padding-bottom: 20px !important;
  }
  .xs-m-20 {
    margin: 20px !important;
  }
  .xs-mt-20 {
    margin-top: 20px !important;
  }
  .xs-ml-20 {
    margin-left: 20px !important;
  }
  .xs-mr-20 {
    margin-right: 20px !important;
  }
  .xs-mb-20 {
    margin-bottom: 20px !important;
  }
  .xs-p-25 {
    padding: 25px !important;
  }
  .xs-pt-25 {
    padding-top: 25px !important;
  }
  .xs-pl-25 {
    padding-left: 25px !important;
  }
  .xs-pr-25 {
    padding-right: 25px !important;
  }
  .xs-pb-25 {
    padding-bottom: 25px !important;
  }
  .xs-m-25 {
    margin: 25px !important;
  }
  .xs-mt-25 {
    margin-top: 25px !important;
  }
  .xs-ml-25 {
    margin-left: 25px !important;
  }
  .xs-mr-25 {
    margin-right: 25px !important;
  }
  .xs-mb-25 {
    margin-bottom: 25px !important;
  }
  .xs-p-30 {
    padding: 30px !important;
  }
  .xs-pt-30 {
    padding-top: 30px !important;
  }
  .xs-pl-30 {
    padding-left: 30px !important;
  }
  .xs-pr-30 {
    padding-right: 30px !important;
  }
  .xs-pb-30 {
    padding-bottom: 30px !important;
  }
  .xs-m-30 {
    margin: 30px !important;
  }
  .xs-mt-30 {
    margin-top: 30px !important;
  }
  .xs-ml-30 {
    margin-left: 30px !important;
  }
  .xs-mr-30 {
    margin-right: 30px !important;
  }
  .xs-mb-30 {
    margin-bottom: 30px !important;
  }
  .xs-p-40 {
    padding: 40px !important;
  }
  .xs-pt-40 {
    padding-top: 40px !important;
  }
  .xs-pl-40 {
    padding-left: 40px !important;
  }
  .xs-pr-40 {
    padding-right: 40px !important;
  }
  .xs-pb-40 {
    padding-bottom: 40px !important;
  }
  .xs-m-40 {
    margin: 40px !important;
  }
  .xs-mt-40 {
    margin-top: 40px !important;
  }
  .xs-ml-40 {
    margin-left: 40px !important;
  }
  .xs-mr-40 {
    margin-right: 40px !important;
  }
  .xs-mb-40 {
    margin-bottom: 40px !important;
  }
  .xs-p-50 {
    padding: 50px !important;
  }
  .xs-pt-50 {
    padding-top: 50px !important;
  }
  .xs-pl-50 {
    padding-left: 50px !important;
  }
  .xs-pr-50 {
    padding-right: 50px !important;
  }
  .xs-pb-50 {
    padding-bottom: 50px !important;
  }
  .xs-m-50 {
    margin: 50px !important;
  }
  .xs-mt-50 {
    margin-top: 50px !important;
  }
  .xs-ml-50 {
    margin-left: 50px !important;
  }
  .xs-mr-50 {
    margin-right: 50px !important;
  }
  .xs-mb-50 {
    margin-bottom: 50px !important;
  }
}
@media (min-width: 640px) {
  .sm-p-0 {
    padding: 0px !important;
  }
  .sm-pt-0 {
    padding-top: 0px !important;
  }
  .sm-pl-0 {
    padding-left: 0px !important;
  }
  .sm-pr-0 {
    padding-right: 0px !important;
  }
  .sm-pb-0 {
    padding-bottom: 0px !important;
  }
  .sm-m-0 {
    margin: 0px !important;
  }
  .sm-mt-0 {
    margin-top: 0px !important;
  }
  .sm-ml-0 {
    margin-left: 0px !important;
  }
  .sm-mr-0 {
    margin-right: 0px !important;
  }
  .sm-mb-0 {
    margin-bottom: 0px !important;
  }
  .sm-p-5 {
    padding: 5px !important;
  }
  .sm-pt-5 {
    padding-top: 5px !important;
  }
  .sm-pl-5 {
    padding-left: 5px !important;
  }
  .sm-pr-5 {
    padding-right: 5px !important;
  }
  .sm-pb-5 {
    padding-bottom: 5px !important;
  }
  .sm-m-5 {
    margin: 5px !important;
  }
  .sm-mt-5 {
    margin-top: 5px !important;
  }
  .sm-ml-5 {
    margin-left: 5px !important;
  }
  .sm-mr-5 {
    margin-right: 5px !important;
  }
  .sm-mb-5 {
    margin-bottom: 5px !important;
  }
  .sm-p-10 {
    padding: 10px !important;
  }
  .sm-pt-10 {
    padding-top: 10px !important;
  }
  .sm-pl-10 {
    padding-left: 10px !important;
  }
  .sm-pr-10 {
    padding-right: 10px !important;
  }
  .sm-pb-10 {
    padding-bottom: 10px !important;
  }
  .sm-m-10 {
    margin: 10px !important;
  }
  .sm-mt-10 {
    margin-top: 10px !important;
  }
  .sm-ml-10 {
    margin-left: 10px !important;
  }
  .sm-mr-10 {
    margin-right: 10px !important;
  }
  .sm-mb-10 {
    margin-bottom: 10px !important;
  }
  .sm-p-15 {
    padding: 15px !important;
  }
  .sm-pt-15 {
    padding-top: 15px !important;
  }
  .sm-pl-15 {
    padding-left: 15px !important;
  }
  .sm-pr-15 {
    padding-right: 15px !important;
  }
  .sm-pb-15 {
    padding-bottom: 15px !important;
  }
  .sm-m-15 {
    margin: 15px !important;
  }
  .sm-mt-15 {
    margin-top: 15px !important;
  }
  .sm-ml-15 {
    margin-left: 15px !important;
  }
  .sm-mr-15 {
    margin-right: 15px !important;
  }
  .sm-mb-15 {
    margin-bottom: 15px !important;
  }
  .sm-p-20 {
    padding: 20px !important;
  }
  .sm-pt-20 {
    padding-top: 20px !important;
  }
  .sm-pl-20 {
    padding-left: 20px !important;
  }
  .sm-pr-20 {
    padding-right: 20px !important;
  }
  .sm-pb-20 {
    padding-bottom: 20px !important;
  }
  .sm-m-20 {
    margin: 20px !important;
  }
  .sm-mt-20 {
    margin-top: 20px !important;
  }
  .sm-ml-20 {
    margin-left: 20px !important;
  }
  .sm-mr-20 {
    margin-right: 20px !important;
  }
  .sm-mb-20 {
    margin-bottom: 20px !important;
  }
  .sm-p-25 {
    padding: 25px !important;
  }
  .sm-pt-25 {
    padding-top: 25px !important;
  }
  .sm-pl-25 {
    padding-left: 25px !important;
  }
  .sm-pr-25 {
    padding-right: 25px !important;
  }
  .sm-pb-25 {
    padding-bottom: 25px !important;
  }
  .sm-m-25 {
    margin: 25px !important;
  }
  .sm-mt-25 {
    margin-top: 25px !important;
  }
  .sm-ml-25 {
    margin-left: 25px !important;
  }
  .sm-mr-25 {
    margin-right: 25px !important;
  }
  .sm-mb-25 {
    margin-bottom: 25px !important;
  }
  .sm-p-30 {
    padding: 30px !important;
  }
  .sm-pt-30 {
    padding-top: 30px !important;
  }
  .sm-pl-30 {
    padding-left: 30px !important;
  }
  .sm-pr-30 {
    padding-right: 30px !important;
  }
  .sm-pb-30 {
    padding-bottom: 30px !important;
  }
  .sm-m-30 {
    margin: 30px !important;
  }
  .sm-mt-30 {
    margin-top: 30px !important;
  }
  .sm-ml-30 {
    margin-left: 30px !important;
  }
  .sm-mr-30 {
    margin-right: 30px !important;
  }
  .sm-mb-30 {
    margin-bottom: 30px !important;
  }
  .sm-p-40 {
    padding: 40px !important;
  }
  .sm-pt-40 {
    padding-top: 40px !important;
  }
  .sm-pl-40 {
    padding-left: 40px !important;
  }
  .sm-pr-40 {
    padding-right: 40px !important;
  }
  .sm-pb-40 {
    padding-bottom: 40px !important;
  }
  .sm-m-40 {
    margin: 40px !important;
  }
  .sm-mt-40 {
    margin-top: 40px !important;
  }
  .sm-ml-40 {
    margin-left: 40px !important;
  }
  .sm-mr-40 {
    margin-right: 40px !important;
  }
  .sm-mb-40 {
    margin-bottom: 40px !important;
  }
  .sm-p-50 {
    padding: 50px !important;
  }
  .sm-pt-50 {
    padding-top: 50px !important;
  }
  .sm-pl-50 {
    padding-left: 50px !important;
  }
  .sm-pr-50 {
    padding-right: 50px !important;
  }
  .sm-pb-50 {
    padding-bottom: 50px !important;
  }
  .sm-m-50 {
    margin: 50px !important;
  }
  .sm-mt-50 {
    margin-top: 50px !important;
  }
  .sm-ml-50 {
    margin-left: 50px !important;
  }
  .sm-mr-50 {
    margin-right: 50px !important;
  }
  .sm-mb-50 {
    margin-bottom: 50px !important;
  }
}
@media (min-width: 768px) {
  .md-p-0 {
    padding: 0px !important;
  }
  .md-pt-0 {
    padding-top: 0px !important;
  }
  .md-pl-0 {
    padding-left: 0px !important;
  }
  .md-pr-0 {
    padding-right: 0px !important;
  }
  .md-pb-0 {
    padding-bottom: 0px !important;
  }
  .md-m-0 {
    margin: 0px !important;
  }
  .md-mt-0 {
    margin-top: 0px !important;
  }
  .md-ml-0 {
    margin-left: 0px !important;
  }
  .md-mr-0 {
    margin-right: 0px !important;
  }
  .md-mb-0 {
    margin-bottom: 0px !important;
  }
  .md-p-5 {
    padding: 5px !important;
  }
  .md-pt-5 {
    padding-top: 5px !important;
  }
  .md-pl-5 {
    padding-left: 5px !important;
  }
  .md-pr-5 {
    padding-right: 5px !important;
  }
  .md-pb-5 {
    padding-bottom: 5px !important;
  }
  .md-m-5 {
    margin: 5px !important;
  }
  .md-mt-5 {
    margin-top: 5px !important;
  }
  .md-ml-5 {
    margin-left: 5px !important;
  }
  .md-mr-5 {
    margin-right: 5px !important;
  }
  .md-mb-5 {
    margin-bottom: 5px !important;
  }
  .md-p-10 {
    padding: 10px !important;
  }
  .md-pt-10 {
    padding-top: 10px !important;
  }
  .md-pl-10 {
    padding-left: 10px !important;
  }
  .md-pr-10 {
    padding-right: 10px !important;
  }
  .md-pb-10 {
    padding-bottom: 10px !important;
  }
  .md-m-10 {
    margin: 10px !important;
  }
  .md-mt-10 {
    margin-top: 10px !important;
  }
  .md-ml-10 {
    margin-left: 10px !important;
  }
  .md-mr-10 {
    margin-right: 10px !important;
  }
  .md-mb-10 {
    margin-bottom: 10px !important;
  }
  .md-p-15 {
    padding: 15px !important;
  }
  .md-pt-15 {
    padding-top: 15px !important;
  }
  .md-pl-15 {
    padding-left: 15px !important;
  }
  .md-pr-15 {
    padding-right: 15px !important;
  }
  .md-pb-15 {
    padding-bottom: 15px !important;
  }
  .md-m-15 {
    margin: 15px !important;
  }
  .md-mt-15 {
    margin-top: 15px !important;
  }
  .md-ml-15 {
    margin-left: 15px !important;
  }
  .md-mr-15 {
    margin-right: 15px !important;
  }
  .md-mb-15 {
    margin-bottom: 15px !important;
  }
  .md-p-20 {
    padding: 20px !important;
  }
  .md-pt-20 {
    padding-top: 20px !important;
  }
  .md-pl-20 {
    padding-left: 20px !important;
  }
  .md-pr-20 {
    padding-right: 20px !important;
  }
  .md-pb-20 {
    padding-bottom: 20px !important;
  }
  .md-m-20 {
    margin: 20px !important;
  }
  .md-mt-20 {
    margin-top: 20px !important;
  }
  .md-ml-20 {
    margin-left: 20px !important;
  }
  .md-mr-20 {
    margin-right: 20px !important;
  }
  .md-mb-20 {
    margin-bottom: 20px !important;
  }
  .md-p-25 {
    padding: 25px !important;
  }
  .md-pt-25 {
    padding-top: 25px !important;
  }
  .md-pl-25 {
    padding-left: 25px !important;
  }
  .md-pr-25 {
    padding-right: 25px !important;
  }
  .md-pb-25 {
    padding-bottom: 25px !important;
  }
  .md-m-25 {
    margin: 25px !important;
  }
  .md-mt-25 {
    margin-top: 25px !important;
  }
  .md-ml-25 {
    margin-left: 25px !important;
  }
  .md-mr-25 {
    margin-right: 25px !important;
  }
  .md-mb-25 {
    margin-bottom: 25px !important;
  }
  .md-p-30 {
    padding: 30px !important;
  }
  .md-pt-30 {
    padding-top: 30px !important;
  }
  .md-pl-30 {
    padding-left: 30px !important;
  }
  .md-pr-30 {
    padding-right: 30px !important;
  }
  .md-pb-30 {
    padding-bottom: 30px !important;
  }
  .md-m-30 {
    margin: 30px !important;
  }
  .md-mt-30 {
    margin-top: 30px !important;
  }
  .md-ml-30 {
    margin-left: 30px !important;
  }
  .md-mr-30 {
    margin-right: 30px !important;
  }
  .md-mb-30 {
    margin-bottom: 30px !important;
  }
  .md-p-40 {
    padding: 40px !important;
  }
  .md-pt-40 {
    padding-top: 40px !important;
  }
  .md-pl-40 {
    padding-left: 40px !important;
  }
  .md-pr-40 {
    padding-right: 40px !important;
  }
  .md-pb-40 {
    padding-bottom: 40px !important;
  }
  .md-m-40 {
    margin: 40px !important;
  }
  .md-mt-40 {
    margin-top: 40px !important;
  }
  .md-ml-40 {
    margin-left: 40px !important;
  }
  .md-mr-40 {
    margin-right: 40px !important;
  }
  .md-mb-40 {
    margin-bottom: 40px !important;
  }
  .md-p-50 {
    padding: 50px !important;
  }
  .md-pt-50 {
    padding-top: 50px !important;
  }
  .md-pl-50 {
    padding-left: 50px !important;
  }
  .md-pr-50 {
    padding-right: 50px !important;
  }
  .md-pb-50 {
    padding-bottom: 50px !important;
  }
  .md-m-50 {
    margin: 50px !important;
  }
  .md-mt-50 {
    margin-top: 50px !important;
  }
  .md-ml-50 {
    margin-left: 50px !important;
  }
  .md-mr-50 {
    margin-right: 50px !important;
  }
  .md-mb-50 {
    margin-bottom: 50px !important;
  }
}
@media (min-width: 1024px) {
  .lg-p-0 {
    padding: 0px !important;
  }
  .lg-pt-0 {
    padding-top: 0px !important;
  }
  .lg-pl-0 {
    padding-left: 0px !important;
  }
  .lg-pr-0 {
    padding-right: 0px !important;
  }
  .lg-pb-0 {
    padding-bottom: 0px !important;
  }
  .lg-m-0 {
    margin: 0px !important;
  }
  .lg-mt-0 {
    margin-top: 0px !important;
  }
  .lg-ml-0 {
    margin-left: 0px !important;
  }
  .lg-mr-0 {
    margin-right: 0px !important;
  }
  .lg-mb-0 {
    margin-bottom: 0px !important;
  }
  .lg-p-5 {
    padding: 5px !important;
  }
  .lg-pt-5 {
    padding-top: 5px !important;
  }
  .lg-pl-5 {
    padding-left: 5px !important;
  }
  .lg-pr-5 {
    padding-right: 5px !important;
  }
  .lg-pb-5 {
    padding-bottom: 5px !important;
  }
  .lg-m-5 {
    margin: 5px !important;
  }
  .lg-mt-5 {
    margin-top: 5px !important;
  }
  .lg-ml-5 {
    margin-left: 5px !important;
  }
  .lg-mr-5 {
    margin-right: 5px !important;
  }
  .lg-mb-5 {
    margin-bottom: 5px !important;
  }
  .lg-p-10 {
    padding: 10px !important;
  }
  .lg-pt-10 {
    padding-top: 10px !important;
  }
  .lg-pl-10 {
    padding-left: 10px !important;
  }
  .lg-pr-10 {
    padding-right: 10px !important;
  }
  .lg-pb-10 {
    padding-bottom: 10px !important;
  }
  .lg-m-10 {
    margin: 10px !important;
  }
  .lg-mt-10 {
    margin-top: 10px !important;
  }
  .lg-ml-10 {
    margin-left: 10px !important;
  }
  .lg-mr-10 {
    margin-right: 10px !important;
  }
  .lg-mb-10 {
    margin-bottom: 10px !important;
  }
  .lg-p-15 {
    padding: 15px !important;
  }
  .lg-pt-15 {
    padding-top: 15px !important;
  }
  .lg-pl-15 {
    padding-left: 15px !important;
  }
  .lg-pr-15 {
    padding-right: 15px !important;
  }
  .lg-pb-15 {
    padding-bottom: 15px !important;
  }
  .lg-m-15 {
    margin: 15px !important;
  }
  .lg-mt-15 {
    margin-top: 15px !important;
  }
  .lg-ml-15 {
    margin-left: 15px !important;
  }
  .lg-mr-15 {
    margin-right: 15px !important;
  }
  .lg-mb-15 {
    margin-bottom: 15px !important;
  }
  .lg-p-20 {
    padding: 20px !important;
  }
  .lg-pt-20 {
    padding-top: 20px !important;
  }
  .lg-pl-20 {
    padding-left: 20px !important;
  }
  .lg-pr-20 {
    padding-right: 20px !important;
  }
  .lg-pb-20 {
    padding-bottom: 20px !important;
  }
  .lg-m-20 {
    margin: 20px !important;
  }
  .lg-mt-20 {
    margin-top: 20px !important;
  }
  .lg-ml-20 {
    margin-left: 20px !important;
  }
  .lg-mr-20 {
    margin-right: 20px !important;
  }
  .lg-mb-20 {
    margin-bottom: 20px !important;
  }
  .lg-p-25 {
    padding: 25px !important;
  }
  .lg-pt-25 {
    padding-top: 25px !important;
  }
  .lg-pl-25 {
    padding-left: 25px !important;
  }
  .lg-pr-25 {
    padding-right: 25px !important;
  }
  .lg-pb-25 {
    padding-bottom: 25px !important;
  }
  .lg-m-25 {
    margin: 25px !important;
  }
  .lg-mt-25 {
    margin-top: 25px !important;
  }
  .lg-ml-25 {
    margin-left: 25px !important;
  }
  .lg-mr-25 {
    margin-right: 25px !important;
  }
  .lg-mb-25 {
    margin-bottom: 25px !important;
  }
  .lg-p-30 {
    padding: 30px !important;
  }
  .lg-pt-30 {
    padding-top: 30px !important;
  }
  .lg-pl-30 {
    padding-left: 30px !important;
  }
  .lg-pr-30 {
    padding-right: 30px !important;
  }
  .lg-pb-30 {
    padding-bottom: 30px !important;
  }
  .lg-m-30 {
    margin: 30px !important;
  }
  .lg-mt-30 {
    margin-top: 30px !important;
  }
  .lg-ml-30 {
    margin-left: 30px !important;
  }
  .lg-mr-30 {
    margin-right: 30px !important;
  }
  .lg-mb-30 {
    margin-bottom: 30px !important;
  }
  .lg-p-40 {
    padding: 40px !important;
  }
  .lg-pt-40 {
    padding-top: 40px !important;
  }
  .lg-pl-40 {
    padding-left: 40px !important;
  }
  .lg-pr-40 {
    padding-right: 40px !important;
  }
  .lg-pb-40 {
    padding-bottom: 40px !important;
  }
  .lg-m-40 {
    margin: 40px !important;
  }
  .lg-mt-40 {
    margin-top: 40px !important;
  }
  .lg-ml-40 {
    margin-left: 40px !important;
  }
  .lg-mr-40 {
    margin-right: 40px !important;
  }
  .lg-mb-40 {
    margin-bottom: 40px !important;
  }
  .lg-p-50 {
    padding: 50px !important;
  }
  .lg-pt-50 {
    padding-top: 50px !important;
  }
  .lg-pl-50 {
    padding-left: 50px !important;
  }
  .lg-pr-50 {
    padding-right: 50px !important;
  }
  .lg-pb-50 {
    padding-bottom: 50px !important;
  }
  .lg-m-50 {
    margin: 50px !important;
  }
  .lg-mt-50 {
    margin-top: 50px !important;
  }
  .lg-ml-50 {
    margin-left: 50px !important;
  }
  .lg-mr-50 {
    margin-right: 50px !important;
  }
  .lg-mb-50 {
    margin-bottom: 50px !important;
  }
}
@media (min-width: 1600px) {
  .xl-p-0 {
    padding: 0px !important;
  }
  .xl-pt-0 {
    padding-top: 0px !important;
  }
  .xl-pl-0 {
    padding-left: 0px !important;
  }
  .xl-pr-0 {
    padding-right: 0px !important;
  }
  .xl-pb-0 {
    padding-bottom: 0px !important;
  }
  .xl-m-0 {
    margin: 0px !important;
  }
  .xl-mt-0 {
    margin-top: 0px !important;
  }
  .xl-ml-0 {
    margin-left: 0px !important;
  }
  .xl-mr-0 {
    margin-right: 0px !important;
  }
  .xl-mb-0 {
    margin-bottom: 0px !important;
  }
  .xl-p-5 {
    padding: 5px !important;
  }
  .xl-pt-5 {
    padding-top: 5px !important;
  }
  .xl-pl-5 {
    padding-left: 5px !important;
  }
  .xl-pr-5 {
    padding-right: 5px !important;
  }
  .xl-pb-5 {
    padding-bottom: 5px !important;
  }
  .xl-m-5 {
    margin: 5px !important;
  }
  .xl-mt-5 {
    margin-top: 5px !important;
  }
  .xl-ml-5 {
    margin-left: 5px !important;
  }
  .xl-mr-5 {
    margin-right: 5px !important;
  }
  .xl-mb-5 {
    margin-bottom: 5px !important;
  }
  .xl-p-10 {
    padding: 10px !important;
  }
  .xl-pt-10 {
    padding-top: 10px !important;
  }
  .xl-pl-10 {
    padding-left: 10px !important;
  }
  .xl-pr-10 {
    padding-right: 10px !important;
  }
  .xl-pb-10 {
    padding-bottom: 10px !important;
  }
  .xl-m-10 {
    margin: 10px !important;
  }
  .xl-mt-10 {
    margin-top: 10px !important;
  }
  .xl-ml-10 {
    margin-left: 10px !important;
  }
  .xl-mr-10 {
    margin-right: 10px !important;
  }
  .xl-mb-10 {
    margin-bottom: 10px !important;
  }
  .xl-p-15 {
    padding: 15px !important;
  }
  .xl-pt-15 {
    padding-top: 15px !important;
  }
  .xl-pl-15 {
    padding-left: 15px !important;
  }
  .xl-pr-15 {
    padding-right: 15px !important;
  }
  .xl-pb-15 {
    padding-bottom: 15px !important;
  }
  .xl-m-15 {
    margin: 15px !important;
  }
  .xl-mt-15 {
    margin-top: 15px !important;
  }
  .xl-ml-15 {
    margin-left: 15px !important;
  }
  .xl-mr-15 {
    margin-right: 15px !important;
  }
  .xl-mb-15 {
    margin-bottom: 15px !important;
  }
  .xl-p-20 {
    padding: 20px !important;
  }
  .xl-pt-20 {
    padding-top: 20px !important;
  }
  .xl-pl-20 {
    padding-left: 20px !important;
  }
  .xl-pr-20 {
    padding-right: 20px !important;
  }
  .xl-pb-20 {
    padding-bottom: 20px !important;
  }
  .xl-m-20 {
    margin: 20px !important;
  }
  .xl-mt-20 {
    margin-top: 20px !important;
  }
  .xl-ml-20 {
    margin-left: 20px !important;
  }
  .xl-mr-20 {
    margin-right: 20px !important;
  }
  .xl-mb-20 {
    margin-bottom: 20px !important;
  }
  .xl-p-25 {
    padding: 25px !important;
  }
  .xl-pt-25 {
    padding-top: 25px !important;
  }
  .xl-pl-25 {
    padding-left: 25px !important;
  }
  .xl-pr-25 {
    padding-right: 25px !important;
  }
  .xl-pb-25 {
    padding-bottom: 25px !important;
  }
  .xl-m-25 {
    margin: 25px !important;
  }
  .xl-mt-25 {
    margin-top: 25px !important;
  }
  .xl-ml-25 {
    margin-left: 25px !important;
  }
  .xl-mr-25 {
    margin-right: 25px !important;
  }
  .xl-mb-25 {
    margin-bottom: 25px !important;
  }
  .xl-p-30 {
    padding: 30px !important;
  }
  .xl-pt-30 {
    padding-top: 30px !important;
  }
  .xl-pl-30 {
    padding-left: 30px !important;
  }
  .xl-pr-30 {
    padding-right: 30px !important;
  }
  .xl-pb-30 {
    padding-bottom: 30px !important;
  }
  .xl-m-30 {
    margin: 30px !important;
  }
  .xl-mt-30 {
    margin-top: 30px !important;
  }
  .xl-ml-30 {
    margin-left: 30px !important;
  }
  .xl-mr-30 {
    margin-right: 30px !important;
  }
  .xl-mb-30 {
    margin-bottom: 30px !important;
  }
  .xl-p-40 {
    padding: 40px !important;
  }
  .xl-pt-40 {
    padding-top: 40px !important;
  }
  .xl-pl-40 {
    padding-left: 40px !important;
  }
  .xl-pr-40 {
    padding-right: 40px !important;
  }
  .xl-pb-40 {
    padding-bottom: 40px !important;
  }
  .xl-m-40 {
    margin: 40px !important;
  }
  .xl-mt-40 {
    margin-top: 40px !important;
  }
  .xl-ml-40 {
    margin-left: 40px !important;
  }
  .xl-mr-40 {
    margin-right: 40px !important;
  }
  .xl-mb-40 {
    margin-bottom: 40px !important;
  }
  .xl-p-50 {
    padding: 50px !important;
  }
  .xl-pt-50 {
    padding-top: 50px !important;
  }
  .xl-pl-50 {
    padding-left: 50px !important;
  }
  .xl-pr-50 {
    padding-right: 50px !important;
  }
  .xl-pb-50 {
    padding-bottom: 50px !important;
  }
  .xl-m-50 {
    margin: 50px !important;
  }
  .xl-mt-50 {
    margin-top: 50px !important;
  }
  .xl-ml-50 {
    margin-left: 50px !important;
  }
  .xl-mr-50 {
    margin-right: 50px !important;
  }
  .xl-mb-50 {
    margin-bottom: 50px !important;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 1180px) {
  .container {
    width: 1180px;
    padding: 0 15px;
  }
}
.menu-primary {
  font-size: 0;
}
.menu-primary li {
  display: inline-block;
  list-style: none;
}
.menu-primary a {
  display: inline-block;
  padding: 5px 10px;
  color: #222222;
  font-size: 15px;
  font-weight: 700;
}
.menu-primary a:hover,
.menu-primary .current-menu-item a {
  color: #3bb049;
}
